@import "tailwindcss";
@font-face {
    font-family: Lau300;
    src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: Lau500;
    src: url(/fonts/Lausanne-500.woff2);
}

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.moveX{
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-100%);
    }
}

.moveLink{
    opacity: 0;
    transition: all ease-in;
}
.moveLink:hover{
    opacity: 1;
}